VITE_PUBLIC_SITE_URL=https://buyhomeforless.com
VITE_API_BASE_URL=https://buyhomeforless.com/api/v1
VITE_PUBLIC_UPLOAD_BASE_URL=https://buyhomeforless.com/uploads
VITE_PUBLIC_BASE_URL=https://buyhomeforless.com/
